<section class="row justify-content-center">
  <div class="col-md-8">

    <div class="row">
      <header class="col-md-12">
        <h3>Create New Person</h3>
        <div class="alert alert-info">Please enter requested information for all required fields.</div>
        <div class="alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</div>
      </header>
    </div>

    <form class="form" name="createPersonForm" #createPersonForm="ngForm" (ngSubmit)="createPerson(createPersonForm)">
        <div class="form-group">
          <label for="firstName">First Name:</label>
          <input type="text" name="firstName" class="form-control form-control-sm" ngModel #firstName="ngModel" required />
          <div class="alert alert-danger" *ngIf="firstName.touched && firstName.invalid">
            <span>First Name is required</span>
          </div>
        </div>
  
        <div class="form-group">
          <label for="lastName">Last Name:</label>
          <input type="text" name="lastName" class="form-control form-control-sm" ngModel #lastName="ngModel" required />
          <div class="alert alert-danger" *ngIf="lastName.touched && lastName.invalid">
            <span>Last Name is required</span>
          </div>
        </div>
  
        <button type="submit" [disabled]="createPersonForm.invalid">Create</button>
      </form>
    
  </div>
</section>
