<section class="row justify-content-center">
  <div class="col-md-8">
    <div class="row">
      <header class="col-md-12">
        <h3 class="text-center">Behold the People</h3>

        <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
      </header>
    </div>

    <table class="table">
      <thead *ngIf="people.length">
        <tr>
          <th class="text-center">Edit</th>

          <th>First Name</th>
          <th>Last Name</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let person of people">
          <td class="text-center">
            <a [routerLink]="['/update-person', person._id]" class="btn btn-primary btn-sm">Update</a> &nbsp;
            <button *ngIf="userIsAdmin" class="btn btn-danger btn-sm" (click)="deletePerson(person._id)">Delete</button>
          </td>

          <td>{{ person.firstName }}</td>
          <td>{{ person.lastName }}</td>
        </tr>

        <tr *ngIf="!people.length">
          <td colspan="3" align="center">No People Found</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>