<section class="row justify-content-center">
  <div class="col-md-8">

    <div class="row">
      <header class="col-md-12">
        <h3>Login</h3>
        <div class="row">
          <div class="col-md-12 alert alert-info">
              <div><b>Description:</b> This is a demo app created with the MEAN stack using Angular v4. You can view and download the source code from it's repository on Bitbucket using the following link: <a href="https://bitbucket.org/stjonathanmark/mean-stack-demo" target="_blank">Bitbucket Repository</a>. The README file contains instructions for how to setup your local environment to run the application.</div>
              <br/>
              <div>
                MEAN is an ancronym that stand for the following:
                <ul>
                  <li><b><span class="acronymChar">M</span> - MongoDB:</b> NoSql database - <a href="https://www.mongodb.com" target="_blank">Learn More</a></li>
                  <li><b><span class="acronymChar">E</span> - ExpressJS:</b> Web framework for NodeJS - <a href="https://expressjs.com" target="_blank"> Learn More</a></li>
                  <li><b><span class="acronymChar">A</span> - Angular v4:</b> Front-end Javascript framework - <a href="https://angular.io" target="_blank">Learn More</a></li>
                  <li><b><span class="acronymChar">N</span> - NodeJS:</b> Server-side JavaScript runtime engine - <a href="https://nodejs.org" target="_blank">Learn More</a></li>
                </ul>
              </div>
              <div>
                Other notable technologies worth mentioning in this application:
                <ul>
                    <li><b>JWT (JSON Web Tokens):</b> Used for both front-end and back-end API authentication and authorization. - <a href="https://jwt.io" target="_blank">Learn More</a></li>
                    <li><b>Passport:</b> A framework to use in NodeJS web apps to make authentication and authorization easy. - <a href="http://passportjs.org" target="_blank">Learn More</a></li>
                    <li><b>Bootstrap v4-Beta:</b> A CSS framework for creating responsive web interfaces. - <a href="https://getbootstrap.com" target="_blank">Learn More</a></li>
                    <li><b>Mongoose:</b> An OSM (Object Schema Model) for MongoDB used in NodeJS web apps. - <a href="http://mongoosejs.com" target="_blank">Learn More</a></li>
                  </ul>
              </div>
            </div>
        </div>
        <div class="alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</div>
      </header>
    </div>


    <div class="row">
      <div class="col-md-4">
        <div class="alert alert-primary"><b>Test credentials are listed on the right.</b></div>
        <form class="form" name="loginForm" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
            <div class="form-group">
              <label for="username"><b>Username:</b></label>
              <input type="text" name="username" class="form-control form-control-sm" ngModel #username="ngModel" required />
              <div class="alert alert-danger" *ngIf="username.touched && username.invalid">
                <span>Userame is required</span>
              </div>
            </div>
      
            <div class="form-group">
              <label for="password"><b>Password:</b></label>
              <input type="password" name="password" class="form-control form-control-sm" ngModel #password="ngModel" required />
              <div class="alert alert-danger" *ngIf="password.touched && password.invalid">
                <span>Password is required</span>
              </div>
            </div>
      
            <button type="submit" [disabled]="loginForm.invalid">Login</button>
          </form>
      </div>

      <div class="col-md-8 alert alert-primary">
          <div><b>Instructions:</b> Please enter your username and password to login.</div>
          <br/>
          <div>
            Login as an Adminstrator to View, Create, Update, and Delete people
            <ul>
              <li><b>Username:</b> admin</li>
              <li><b>Password:</b> password</li>
            </ul>
          </div>
          <div>
            Login as a User to View and Update people
            <ul>
                <li><b>Username:</b> user</li>
                <li><b>Password:</b> password</li>
              </ul>
          </div>
        </div>
        

    </div>
    
  </div>
</section>
