<section class="row justify-content-center">
  <div class="col-md-8">

    <div class="row">
      <header class="col-md-12">
        <h3>Not Autorized</h3>
        <div class="alert alert-warning">Current user is not authorized to access requested resource.</div>
      </header>
    </div>

  </div>
</section>