<div class="container-fluid">

    <!--<div class="row">
        <header class="col-md-12 text-align-center">
            <h1>The People's App</h1>
        </header>
    </div> -->

    <div class="row">
        <section class="col-md-12">
            <nav class="navbar navbar-expand-md navbar-light bg-light">

                <!-- Nav Brand -->
                <a *ngIf="loggedIn" class="navbar-brand" routerLink="home">The People's App - MEAN Stack Demo</a>
                <span *ngIf="!loggedIn" class="h1" class="navbar-brand">The People's App - MEAN Stack Demo</span>

                <!-- Nav Expand/Collapse Button -->
                <button *ngIf="loggedIn" class="navbar-toggler" data-toggle="collapse"  data-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button> 

                <!-- Nav Collapse Area -->
                <div *ngIf="loggedIn" id="navbarNav" class="collapse navbar-collapse">

                    <!-- Nav Links -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="home">Home</a>
                        </li>
                        <li *ngIf="userIsAdmin" class="nav-item">
                            <a class="nav-link"  routerLink="create-person">Create Person</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  (click)="logout()" style="cursor: pointer">Logout</a>
                        </li>
                    </ul>

                </div> 

            </nav>
        </section>
    </div>

    <div class="row">
        <section class="col-md-12">
            <router-outlet></router-outlet>
        </section>
    </div>

</div>

