<section class="row justify-content-center">
    <div class="col-md-8">
  
      <div class="row">
        <header class="col-md-12">
          <h3>Update Person</h3>
          <div class="alert alert-info">Please update information for all desired fields.</div>
          <div class="alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</div>
        </header>
      </div>
  
      <form class="form" name="updatePersonForm" #updatePersonForm="ngForm" (ngSubmit)="updatePerson(updatePersonForm)">
          <div class="form-group">
            <label for="firstName">First Name:</label>
            <input type="text" name="firstName" class="form-control form-control-sm" [(ngModel)]="person.firstName" #firstName="ngModel" required />
            <div class="alert alert-danger" *ngIf="firstName.touched && firstName.invalid">
              <span>First Name is required</span>
            </div>
          </div>
    
          <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input type="text" name="lastName" class="form-control form-control-sm" [(ngModel)]="person.lastName" #lastName="ngModel" required />
            <div class="alert alert-danger" *ngIf="lastName.touched && lastName.invalid">
              <span>Last Name is required</span>
            </div>
          </div>
    
          <button type="submit" [disabled]="!updatePersonForm.dirty">Update</button> &nbsp;&nbsp;
          <button type="button" (click)="cancelUpdate()">Cancel</button>
        </form>
      
    </div>
  </section>
